.popup-menu-container {
  position: absolute;
  z-index: 2000;
  background-color: $background-color;
  top: -10%;
  right: 20%;
  border: 1px solid $border-color;
  box-shadow: $text-color 0px 0px 15px, $text-color 0px 0px 3px 1px;
  border-radius: 10px;
  * {
    color: white;
  }

  .popup-menu {

    li {
      border-bottom: none;
      transition: background-color 0.2s ease;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
        transition: background-color 0.2s ease;
      }
    }
  }
}