.thread {
  width: 600px;
  border-right: 1px solid $border-color;

  .thread-header {
    border-bottom: 1px solid $border-color;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 10px;
  }

  .scroll-part {
    position: relative;
    left: 0%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 100px;

    li {
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
    }

    .card-header {
      margin-top: 20px;
      display: flex;
      color: white;
      position: relative;

      h4 {
        color: $text-color;
      }

      h3 {
        margin-top: 3px;
      }

      h3, h4 {
        margin-left: 10px;
      }

      h6 {
        font-size: 0.8rem;
        position: absolute;
        right: 0%;
        margin-right: 10px;
      }

      img {
        margin-top: 0;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    p {
      color: white;
      margin-top: 10px;
      margin-left: 10px;
      font-size: 1.2rem;
    }

    img {
      margin-top: 10px;
      height: 450px;
      width: 600px;
      cursor: pointer;
    }

    .likes-comments {
      span {
        color: $text-color;
        margin-top: 5px;
        margin-left: 20px;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    h6 {
      color: white;
      margin-left: 15px;
      font-size: 0.9rem;
    }
  }
}